# DO NOT MANUALLY CHANGE THIS FILE AS IT WILL BE AUTOMATICALLY MODIFIED BY THE "install_renny" SCRIPT

# audio2face: Address & port of the microservice
A2F_ADDRESS=http://audio2face-gateway:52000
# audio2face: The amount of time to delay speech's audio playback
A2F_AUDIO_DELAY_TIME_MS=240
# audio2face: Audio sample rate. Only 16000 supported currently
A2F_AUDIO_SAMPLE_RATE=16000

# Default UneeQ platform addresses - these values are usually correct and don't need to be changed
DHOP_ADDRESS=wss://api.enterprise.uneeq.io/signalling-service/v2/ws/renderer
DHOP_PIXELSTREAMING_ADDRESS=wss://api.enterprise.uneeq.io:443/signalling-service/v1/ws/pixelstreaming

# The following values MUST be provided during installation
DHOP_APIKEY=
DHOP_TENANTID=

# Reconnect delay formula:
#   let r = number of retries;
#   f(r) = DHOP_RECONNECT_INTERVAL_SECS * (DHOP_RECONNECT_BACKOFF_RATE ^ r)
DHOP_RECONNECT_BACKOFF_RATE=1.5
DHOP_RECONNECT_INTERVAL_SECS=5.0

# Healthcheck: Endpoint URL
HEALTH_URL=http://0.0.0.0:8081/health

# Sleep timer: Time to reset back to initial map, resolution and lower FPS to reduce GPU usage when idle
#   t == -1.0: To always keep the last session's config loaded
#   t ==  0.0: To go back to sleep immediately after a session
#   t >   0.0: To enter sleep mode after a delay when session ends
SLEEP_TIMER_SECS=5.0

# Metrics: Port for prometheus HTTP server
METRICS_PORT=8080
#METRICS_PORT_TTS=

# TTS: Address & port of the microservice. Leave blank for embedded TTS (recommended)
#TTS_ADDRESS=
#TTS_AUTH_API_KEY=

# TTS: Following secret must be provided if using eTTS
AZURE_REGION=
AZURE_SPEECH=
AZURE_SPEECH_KEY=

ELEVEN_LABS_API_KEY=
ELEVEN_LABS_MODEL_ID=eleven_flash_v2_5
ELEVEN_LABS_OPTIMIZE_LATENCY_LEVEL=1
ELEVEN_LABS_SIMILARITY_BOOST=0.5
ELEVEN_LABS_STABILITY=0.5
RIME_API_KEY=


# INACTIVITY_TIMEOUT_SECS=5.0
